[submodule "plugins/extract_headings"]
	path = plugins/extract_headings
	url = https://github.com/mawenbao/extract_headings.git
[submodule "plugins/pelican-update-date"]
	path = plugins/pelican-update-date
	url = https://github.com/mawenbao/pelican-update-date.git
[submodule "plugins/niux2_lazyload_helper"]
	path = plugins/niux2_lazyload_helper
	url = https://github.com/mawenbao/niux2_lazyload_helper.git
[submodule "themes/niu-x2-sidebar"]
	path = themes/niu-x2-sidebar
	url = https://github.com/dreams8/niu-x2-sidebar.git
